<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/my-camera.yaml"/>
  <param name="imu0_config" value="$(find rovio)/cfg/my-imu.yaml"/>
	<remap from="imu0" to="iris/vi_sensor/imu"/>
	<remap from="cam0/image_raw" to="iris/vi_sensor/left/image_raw"/>
	
  </node>

</launch>
